body {
    background-color: orange;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    color: #333;
}

.logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

thead tr:first-child th {
    text-align: left;
}