body {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Arial, sans-serif;
}
table, th, td {
    border: 1px solid;
  }
.topnav {
    text-align: center;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.heroSection {
    text-align: center;
    padding: 60px 20px;
    
}

.heroSection img {
    
    height: 500px;
    margin-top: 20px;
    width: 500px;
}

.projects, .skills, .para {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    padding: 5px 0;
}

.skillsHeading {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
}
